*{
    margin: 0px;
    padding: 0;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box{
    width: 1000px;
    /* height:500px; */
    border-radius: 17px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.input_box{
    display: flex;
    height: 100%; 
    padding:30px;  
}

.input_left{
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    padding:30px;
}

.log_btn{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;

}
.log_btn button{
   width: 90px;
   height: 30px;
   font-weight: bold;
   border: none;
   outline: none;

}
.log_btn button:hover{
    cursor: pointer;
}
.log{
    border-radius: 5px 0 0 5px;
    font-size:16px;
    color:#222;
}
.sin{
    border-radius: 0 5px 5px 0;
    background-color: hsl(223deg 96% 60%);
    font-size:16px;
    color:#fff;
}

.name_box{
    display: flex;
    justify-content: space-between;
}

.name_box input{
    width: 47%;
    padding:10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, .4);
    color:rgb(109, 108, 108); 
}

.name_box input::placeholder{
    color:rgb(109, 108, 108);
    font-weight: bold;
}



.all_input{
    margin-top: 20px;
}


.all_input input{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, .4);
    color:rgb(109, 108, 108);
    margin-bottom: 20px;
}



.all_input input::placeholder{
    color:rgb(109, 108, 108);
    font-weight: bold;
}



.login_btn{
    display: flex;
    justify-content: space-between;
}


.chack{
    display: flex;
    align-items: center;
}
.chack p{
  color: #222;
  font-weight:500;
  margin-left: 5px;
}


.login_btn button{
    border-radius:5px;
    background-color: hsl(223deg 96% 60%);
    font-size:16px;
    color:#fff;
    border:none;
    outline: none;
    padding: 10px;
}


.login_btn button:hover{
    background-color: rgb(6, 74, 245);
    cursor: pointer;
}




.input_right{
    width: 50%;
    border-left: 2px solid #fff;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input_right h5{
    font-size: 20px;
    color:#222;
    font-weight: 500;
}

.social button{
    padding: 10px;
    width:100%;
    box-sizing: border-box;
    border: none;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
}

.social button:hover{
    cursor: pointer;
}

.social button i{
    padding:0 20px;
}

.social button span{
    padding-right:20px;
}
.fb{
    background-color: hsl(220deg 45% 41%);
  color:#fff;
}

.tw{
    background-color: hsl(202deg 88% 52%);
  color:#fff;
}

.gl{
    background-color:rgb(208 70 59);
    color:#fff;
}

.ap{
    color:#fff;
    background-color: #222;
}






@media screen and (max-width: 480px) {
    .input_box{
        flex-direction: column;
    }
  }